<input type="hidden" id="persona" value="<%= @persona.id %>"/>
<input type="hidden" id="descriptor" value="<%= @descriptor.id %>"/>
<input type="hidden" id="action" value="<%= @action.id %>"/>

<!-- Header Area -->

<div id="header" class="section first">
</div>

<div id="little_machine" class="section last" onClick="window.location = '/';"></div>


<!-- Main Content Area -->

<div id="machine" class="section first" onClick="window.location = '/';">
	<div id="activate_button"></div>
</div>

<div id="audience" class="section last">
	<div id="target_acquired">Target Acquired</div>
	<div id="share_target">Share Target&nbsp;&nbsp;&nbsp;>></div>
	<h2><%= @descriptor.copy %> <%= @persona.copy %> <%= @action.copy %>.</h2>
</div>

<!-- Supplemental Content Area - Arrangement 1 -->

<!-- Row 1 -->
<div id="block_area">
<div id="blocks">
	
	<div id="media_one" class="section block two first">
	  <h5>Primary Media Preferences</h5>
	  <p><%= raw @media[0].description %></p>
	</div>

	<div id="spirit_animal" class="section block one">
	  <h5>Spirit Animal</h5>
	  <% if @spirit_animal.url.empty? %>
	  <p><%= @spirit_animal.name %></p>
	  <% else %>
	  <p><a href="<%= @spirit_animal.url %>" target="_blank"><%= @spirit_animal.name %></a></p>
	  <% end %>
	</div>

	<div id="primary_influencer" class="section block one">
	  <h5>Primary Influencer</h5>
	  <% if @influencers[0].url.empty? %>
	  <p><%= @influencers[0].name %></p>
	  <% else %>
	  <p><a href="<%= @influencers[0].url %>" target="_blank"><%= @influencers[0].name %></a></p>
	  <% end %>
	</div>

	<div id="demographic_one" class="section block two">
	  <h5>Key Statistic</h5>
	  <p><div class="stat"><%= @demographics[0].percentage %></div><div class="support"><%= @demographics[0].description %></div></p>
	</div>

	<!-- Row 2 -->

	<div id="must_have" class="section block one">
	  <h5>Can't Live Without</h5>
	  <% if @must_have.url.empty? %>
	  <p><%= @must_have.item %></p>
	  <% else %>
	  <p><a href="<%= @must_have.url %>" target="_blank"><%= @must_have.item %></a></p>
	  <% end %>
	</div>

	<div id="demographic_two" class="section block two">
	  <h5>Key Statistic</h5>
	  <p><div class="stat"><%= @demographics[1].percentage %></div><div class="support"><%= @demographics[1].description %></div></p>
	</div>

	<div id="media_two" class="section block two">
	  <h5>Primary Media Preferences</h5>
	  <p><%= raw @media[1].description %></p>
	</div>

	<div id="nick_cage_film" class="section block two">
	  <h5>Favorite Nicholas Cage Film</h5>
	  <p><a href="<%= @nick_cage_film.url %>" target="_blank"><%= @nick_cage_film.title %></a></p>
	</div>

	<!-- Row 3 -->

	<div id="secondary_influencer" class="section block one">
	  <h5>Secondary Influencer</h5>
	  <% if @influencers[1].url.empty? %>
	  <p><%= @influencers[1].name %></p>
	  <% else %>
	  <p><a href="<%= @influencers[1].url %>" target="_blank"><%= @influencers[1].name %></a></p>
	  <% end %>
	</div>

	<div id="hobby" class="section block one">
	  <h5>Favorite Hobby</h5>
	  <% if @hobby.url.empty? %>
	  <p><%= @hobby.name %></p>
	  <% else %>
	  <p><a href="<%= @hobby.url %>" target="_blank"><%= @hobby.name %></a></p>
	  <% end %>
	</div>

	<div id="wisdom" class="section block four last">
	  <h5>Words To Live By</h5>
	  <p><%= raw @wisdom.quote %></p>
	</div>

	</div>
</div>

<!-- Learn More Area -->

<div id="learn_more" class="section first last">
  <h5><%= @audience.description %></h5>
</div>

</div>